@{
    ViewData["Title"] = "聯繫方式";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Baoan<br />
    Shenzhen,China 518104<br />
</address>

<address>
    <strong>技術服務:</strong> <a href="mailto:keepee@qq.com">Keepee#qq.com</a><br />
</address>
