@{
    ViewData["Title"] = "Kylon's Home page";
}

<div class="jumbotron">
    <h1>未名的網站</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>歡迎光臨 Kylon's Home ^_^</h2>
        <p>
            這是一個基本Asp.net Core搭建的小網站，
            以學習為目的，試驗一些前沿的技術，
            建立于Visual Studio 2017 || Visual Studio Code。
        </p>
    </div>
    <div class="col-md-4">
        <h2>從亂寫亂畫中建立本項目</h2>
        <p>
            基本可以說是在摸著石頭過河的情況下邊學習邊完善這個小網站的。
        </p>
        <p>
            <a class="btn btn-default"
               href="/">
                查看指南 &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>下載地址暫不開放:-D</h2>
        <p>抱歉，您暫不能下載本項目。</p>
        <p>
            <a class="btn btn-default"
               href="/">
                查看項目源代碼 &raquo;
            </a>
        </p>
    </div>
</div>
<div class="row">
    <h2>廣告區間</h2>
    <div class="col-md-2">
        <a href="https://www.cndns.com/members/register.aspx?authunionkey=11648110" target="_blank"><img src="//wm.cndns.com/src/qyjz/300x200.png" width="300" height="200" border="0" alt="企业建站"></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.cndns.com/members/register.aspx?authunionkey=11648110" target="_blank"><img src="//wm.cndns.com/src/wxjz/300x200.png" width="300" height="200" border="0" alt="微信建站"></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.cndns.com/members/register.aspx?authunionkey=11648110" target="_blank"><img src="//wm.cndns.com/src/wxxcx/300x200.png" width="300" height="200" border="0" alt="微信小程序"></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.cndns.com/members/register.aspx?authunionkey=11648110" target="_blank"><img src="//wm.cndns.com/src/yxnzj/300x200.png" width="300" height="200" border="0" alt="云虚拟主机"></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.cndns.com/members/register.aspx?authunionkey=11648110" target="_blank"><img src="//wm.cndns.com/src/qyyx/300x200.png" width="300" height="200" border="0" alt="企业邮箱"></a>
    </div>
    <br />
</div>
